on:
  push:
    branches:
      - "!*"
    tags:
      - "v*"

name: Release

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.x'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install requests

      - uses: actions/checkout@v2
        with:
          lfs: true

      - name: Checkout LFS objects
        run: git lfs checkout

      - name: Checkout blender_mmd_assets
        uses: actions/checkout@v2
        with:
          repository: UuuNyaa/blender_mmd_assets
          path: blender_mmd_assets

      - name: Build asset
        run: |
          mkdir mmd_uuunyaa_tools/asset_jsons
          python blender_mmd_assets/cat_asset_json.py UuuNyaa/blender_mmd_assets "{'state': 'open', 'labels':'Official'}" > mmd_uuunyaa_tools/asset_jsons/assets.json

      - name: Copy LICENSE file
        run: cp -p LICENSE mmd_uuunyaa_tools/

      - name: Build project
        run: zip -r -9 artifact.zip mmd_uuunyaa_tools/

      - name: Create a Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          release_name: Release ${{ github.ref }}
          draft: true
          prerelease: false

      - name: Branch name
        id: branch_name
        run: |
          echo ::set-output name=name::${GITHUB_REF#refs/*/}
          echo ::set-output name=branch::${GITHUB_REF#refs/heads/}
          echo ::set-output name=tag::${GITHUB_REF#refs/tags/}

      - name: Upload Release Asset
        id: upload-release-asset 
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.SuperSecret }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./artifact.zip
          asset_name: mmd_uuunyaa_tools-${{ steps.branch_name.outputs.tag }}.zip
          asset_content_type: application/zip
